<div class="d-flex justify-content-center align-items-center vh-100" style="background-image:url('/products/Login.jpg');
background-size:cover; background-repeat:no-repeat;background-attachment:fixed;background-position:center; ">
    <img src="~/products/Login.jpg" class="rounded-2 img-fluid" style="opacity:0.7" />
</div>